/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import './bootstrap.css';
@import './font-awesome/css/fontawesome.css';
@font-face {
  font-family: copperplate;
  src: url('./fonts/OPTICopperplate.otf');
}
@font-face {
  font-family: brillian;
  src: url('./fonts/BrillianCyrillicSerb-Regular.ttf');
}

* {
  user-select: none;
}

body {
  background: #f8f9fa;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 117, 117);
}

.header-text {
  font-family: copperplate;
}

.header-name {
  font-family: brillian;
}

.credsfooter {
  display: none;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  html,
  body,
  .prescription-container {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0;
    float: none;
  }

  #hidden {
    display: none !important;
  }

  #sidebar {
    display: none !important;
  }

  .prescription {
    display: flex;
    flex-direction: column;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
  }

  .vitals-block {
    page-break-inside: avoid;
  }

  .credsfooter {
    display: block;
    position: absolute;
    margin: 0.5em;
    bottom: 0;
    left: 4cm;
  }

  .prescription-container {
    position: absolute !important;
    top: 0px !important;
    left: 0cm !important;
    width: 23cm !important;
  }
}

@page :first {
  margin-top: 0;
}

@page {
  size: A4;
  margin: 0;
  margin-bottom: 1cm;
  margin-top: 1cm;
}

.billing-color {
  color: rgba(5, 84, 103, 1);
  background-color: rgb(175, 201, 207);
  border-color: rgb(151, 175, 180);
}

.certificate-color {
  color: #00145d;
  background-color: rgba(49, 118, 152, 0.55);
  border-color: rgb(92, 147, 175);
}

.bg-bill {
  background: rgb(33, 158, 188);
}

.bg-certificate {
  background: rgb(2, 48, 71);
}

.bg-prescription {
  background: rgb(25, 135, 84);
}
